.env.venv/
.venv/
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data / results
# data/
results/

# OS / tooling
.DS_Store
Thumbs.db
.idea/
.vscode/

# UV specific
*.lock

*.html

site/

copilot_*
src/__pychache__/
.ruff_cache/
.pytest_cache/
.github/
.cache/

*__pycache__/
*.egg-info*